<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cubicle</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/about">About</a></li>
                {{#if validated}}
                <li><a href="/create">Add Cube</a></li>
                <li><a href="/createAccessory">Add Accessory</a></li>
                <li><a href="/users/logout">Logout</a></li>
                {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            <h1>{{cube.name}}</h1>
            <img class="cube" src="{{cube.imageUrl}}">
            <div class="details">
                <p><span>Creator:</span> {{creator.username}}</p>
                <p><span>Description:</span> {{cube.description}}</p>
                <p><span>Difficulty level:</span> {{cube.difficultyLevel}}</p>
                {{#if validated}}
                {{/if}}
                {{#if creatorAccess}}
                <a class="btn" href="/attachAccessory/{{cube._id}}">Attach Accessory</a>
                <a class="btn" href="/edit/{{cube._id}}">Edit</a>
                <a class="btn" href="/delete/{{cube._id}}">Delete</a>
                {{/if}}
                <a class="btn" href="/">Back</a>
            </div>
            <h2>Accessories</h2>
            <div class="accessories">

                {{#if accessories}}

                {{#each accessories}}
                {{> accessoryDiv accessory = this}}
                {{/each}}

                {{else}}
                <h3 class="italic">This cube has no accessories yet...</h3>
                {{/if}}

            </div>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>